/* ホーム画像 */
.home-image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.home-image{
    width: 500px;
    height: 400px;
    display: none;
}
.left-move,.right-move{
    font-size: 100px;
    margin: 0px 20px; 
}
/* 商品ランキング */
.rank-list{
    display: flex;
    flex-wrap: wrap;
}
.rank-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(180, 175, 175);
    width: 20%;
    padding: 10px 20px;
    position: relative;
}
.rank-view{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: orange;
    color: white;
    padding: 5px;
}
.rank-image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.rank-image{
    width: 90%;
}
