header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.home-box{
    display: flex;
    align-items: center;
}
.genre-box{
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
}
.home-click{
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.home-click:hover{
    color: blue;
}
/* 検索欄 */
.search-box{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
}
.search-input{
    font-size: 20px;
    border: none;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}
.search-icon{
    padding: 0px 5px;
    cursor: pointer;
}
/* ユーザー情報 */
.login-box{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}