.no-user-box{
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.no-user{
    color: red;
}
.user-area,.user-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.user-box{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
    margin-top: 50px;
}
.user-btn{
    margin-top: 20px;
}
