.order-detail-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 80%;
    border: 1px solid rgb(180, 175, 175);
    border-radius: 10px;
}
.order-detail-top-box,.order-detail-bottom-box{
    margin: 10px 20px;
    font-size: 20px;
}
/* 商品詳細 */
.history-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid rgb(180, 175, 175);
    border-radius: 10px;
    width: 80%;
}
/* 商品詳細上側 */
.history-top-box{
    display: flex;
    justify-content: space-between;
}
.history-order-date{
    margin: 10px 0px 0px 20px;
    font-size: 20px;
}
.history-delivery-check{
    margin: 10px 20px 0px 0px;
}
/* 商品詳細下側 */
.history-top-right-box{
    margin-left: 20px;
}
.history-bottom-box{
    display: flex;
    justify-content: space-between;
}
.history-bottom-left-box{
    display: flex;
    position: relative;
}
.history-bottom-right-box{
    margin: 10px 20px 0px 0px;
}
.history-image{
    width: 200px;
    height: 120px;
    padding: 10px;
}
.history-count{
    position: absolute;
    bottom: 5px;
    left: 220px;
    background-color: white;
    border-radius: 100px;
    padding: 0px 7px;
    border: 1px solid rgb(180, 175, 175); 
    font-size: 15px;
}
.history-delivery-check,.history-review{
    color: black;
    text-decoration: none;
    border: 1px solid rgb(180, 175, 175); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.history-no-view-box{
    border-top: 1px solid rgb(180, 175, 175);
    padding: 10px 20px;
    color: blue;
}