.item-area{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.item-box{
    display: flex;
    width: 80%;
}
.item-image-box{
    position: relative;
}
.item-image{
    width: 500px;
    height: 300px;
}
.item-favorite{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}
.favorite-exists{
    color: red;
}
.item-info-box{
    margin-left: 50px;
}
.item-price{
    font-size: 30px;
}
/* 価格情報 */
.price-box{
    border: 1px solid rgb(180, 175, 175);
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.price-btn-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}
.item-count{
    margin-right: 20px;
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(242, 237, 237);
    margin: 10px 0px;
    width: 90%;
}
.price-btn{
    width: 90%;
    border-radius: 50px;
    font-size: 20px;
    margin: 10px 0px;
    background-color: orange;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}
.price-btn:hover{
    opacity: 0.7;
}
/* レビューの一覧 */
.review-area{
    display: flex;
}
.review-list,.review-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
}
/* レビューの表示 */
.review-box{
    width: 30%;
    border-radius: 10px;    
    margin: 10px 0px;
}
.review-good,.review-good-logout{
    border: 1px solid black;
    width: 100px;
    text-align: center; 
    margin: 10px 0px;
    padding: 5px;
    background-color: white;
}
